venv
media
*\_
*.log
main.cmd
log.txt
assets/match_data.json
assets/thumbnail.html
media/thumb/thumb.png
LOL automation.zip
credentials/storage-oauth2.json
yt/
yt-temp/
profiles/
src/player_list.txt
src/client_secrets.json
src/storage-oauth2.json
src/thumbnail.html
